html,
body,
div#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: clip;
}

:root {
    --zoom: 1;
}

body {
    background-color: rgb(18, 18, 18);
    zoom: var(--zoom);
}

.hide-scrollbar {
    /* firefox */
    /* scrollbar-width: none; */
    scrollbar-width: thin;
    /* ie, edge */
    /* -ms-overflow-style: none; */
}

/* chromium, safari */
/* .hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
} */

.target-team.MuiDataGrid-row,
.target-team.MuiTableRow-root > td {
    color: lime;
}
